.navigationMenu {
    text-align: center;
    margin: 25px;
}

ul.nav {
    float: none;
    display: inline-block;
}

h1 {
    text-align: center;
}

.clientList {
    width: 80%;
    margin-left: 200px;
}

.addClientForm {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}