.navigationMenu {
    text-align: center;
    margin: 25px;
}

ul.nav {
    float: none;
    display: inline-block;
}

h1 {
    text-align: center;
}

.clientList {
    width: 80%;
    margin-left: 200px;
}

.addClientForm {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.registerContainer h1 {
    color: black;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
}

.registerContainer .container {
    max-width: 400px;
    max-height: 100px;
    margin-top: 10px;
}

.registerContainer .alert-danger{
    text-align: center;
}

.registerContainer .signup-screen {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
}

.registerContainer .spacer {
    margin-top: 10px;
}

body {
    background: url('../images/background_plane.png') fixed no-repeat bottom 0 right;
}

@font-face {
    font-family: 'former';
    src: url('../fonts/former.eot');
    src: local('?'), url('../fonts/former.woff') format('woff'), url('../fonts/former.ttf') format('truetype'), url('../fonts/former.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #005faf;
    font-family: 'former', Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

