body {
}

#watermark {
    height: 531px;
    width: 809px;
    background-image: url('../images/background_plane.png');
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    filter:alpha(opacity=40);
    z-index: -1000;
}

@font-face {
    font-family: 'former';
    src: url('../fonts/former.eot');
    src: local('?'), url('../fonts/former.woff') format('woff'), url('../fonts/former.ttf') format('truetype'), url('../fonts/former.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #005faf;
    font-family: 'former', Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

