.navigationMenu {
    text-align: center;
    margin: 25px;
}

ul.nav {
    float: none;
    display: inline-block;
}

.administrationFormList {
    width: 85%;
    margin: 0px auto;
}

.administrationForm {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.registerContainer h1 {
    color: #005faf;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
}

.registerContainer .container {
    width: 20vw;
    height: 15vh;
    margin: 100px auto;
}

.registerContainer .alert-danger {
    text-align: center;
    margin: 0 auto;
    margin-top: 3px;
    width: 80%;
    padding: 5px;
}

.registerContainer .signup-screen {
    padding: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
    border: 1px solid #eee;
    margin: 0 auto;
    padding-bottom: 10px;
}

.registerContainer .spacer {
    margin-top: 10px;
}

.spacer button {
    width: 30%;
    text-shadow: #134364;
    font-size: large;
}

.page-header {
    margin: 0 auto;
    padding: 0;
    border: none;
}

body {
    background: url('../images/background_plane.png') fixed no-repeat bottom 0 right, linear-gradient(to right, rgba(229, 249, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(229, 249, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f9ff', endColorstr='#e5f9ff', GradientType=1);
}

@font-face {
    font-family: 'former';
    src: url('../fonts/former.eot');
    src: local('?'), url('../fonts/former.woff') format('woff'), url('../fonts/former.ttf') format('truetype'), url('../fonts/former.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.content {
    background-color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    width: 50vw;
    border: 1px solid #eee;
}

h1 {
    text-align: center;
    color: #005faf;
    font-family: 'former', Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

fieldset {
    margin: 0px auto;
}

.separator {
    border: 0px solid #e3e3e3;
    border-bottom-width: 1px;
}

.form-control {
    background-color: rgba(0, 84, 116, 0.1);
    color: #262f35;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
}

.form-control .danger {
    width: 80%;
    padding: 10px;
}

.form-register label {
    font-size: medium;
    margin: 0 auto;
    margin-left: 20px;
}

.input-field .alert {
    width: 80%;
    padding: 5px;
}

label {
    font-family: sans-serif;
    color: #262f35;
}

.styled-button-8 {
    background: #25A6E1;
    background: -moz-linear-gradient(top, #25A6E1 0%, #188BC0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #25A6E1), color-stop(100%, #188BC0));
    background: -webkit-linear-gradient(top, #25A6E1 0%, #188BC0 100%);
    background: -o-linear-gradient(top, #25A6E1 0%, #188BC0 100%);
    background: -ms-linear-gradient(top, #25A6E1 0%, #188BC0 100%);
    background: linear-gradient(top, #25A6E1 0%, #188BC0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1', endColorstr='#188BC0', GradientType=0);
    padding: 8px 13px;
    margin-bottom: 5px;
    color: #fff;
    opacity: 0.8;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 17px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #1A87B9;
}

h3 {
    color: #005faf;
    font-family: Arial, sans-serif;
    margin-left: 200px;
    padding: 10px;
}

hr {
    width: 70%;
    margin-left: 50px;
}

.reservationResultTitle {
    font-size: 2em;
    color: #005faf;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    margin-left: 130px;
}

