<div class="administrationForm">
    <button ng-click="showForm()" class="btn-link">{{toggleFormTxt}}</button>
    <form class="form-horizontal" role="form" ng-show="enableForm">
        <label>First name: </label><input type="text" ng-model="client.firstName">
        <label>Last name: </label><input type="text" ng-model="client.lastName">
        <label>email: </label><input type="text" ng-model="client.email">
        <label>password: </label><input type="text" ng-model="client.password"><br>
        <button class="btn btn-default" ng-click="addClient(client)">Submit</button>
    </form>
</div>