<div class="administrationForm">
    <button ng-click="showForm()" class="btn-link">{{toggleFormTxt}}</button>
    <form class="form-horizontal" role="form" ng-show="enableForm">
        <label>airlineName: </label><input type="text" ng-model="flight.airlineName">
        <label>departure: </label><input type="text" ng-model="flight.departure">
        <label>arrival: </label><input type="text" ng-model="flight.arrival">
        <label>source: </label><input type="text" ng-model="flight.source">
        <label>destination: </label><input type="text" ng-model="flight.destination">
        <label>flightPrice: </label><input type="text" ng-model="flight.flightPrice"><br>
        <label>seats: </label><input type="text" ng-model="flight.seats">
        <button class="btn btn-default" ng-click="addFlight(flight)">Submit</button>
    </form>
</div>