<table class="table table-striped table-hover">
    <thead ng-if="flights.length > 0">
    <tr>
        <th ng-if="controllerName == FlightCtrl">
            delete Flight
        </th>
        <th>
            Airline name
        </th>
        <th>
            Departure
        </th>
        <th>
            Arrival
        </th>
        <th>
            Source
        </th>
        <th>
            Destination
        </th>
        <th>
            Price
        </th>
        <th>
            Number of seats
        </th>
    </tr>
    </thead>
    <tbody ng-repeat="flight in flights">
    <td ng-if="controllerName == 'FlightCtrl'">
        <button ng-click="deleteFlight(flight)" class="btn-link">[X]</button>
    </td>
    <td>
        {{flight.airlineName}}
    </td>
    <td>
        {{flight.departure}}
    </td>
    <td>
        {{flight.arrival}}
    </td>
    <td>
        {{flight.source}}
    </td>
    <td>
        {{flight.destination}}
    </td>
    <td>
        {{flight.flightPrice}}
    </td>
    <td>
        {{flight.seats}}
    </td>
    </tbody>
</table>