<div class="registerContainer">
    <div class="container" ng-controller="RegisterCtrl">
        <div id="signup">
            <div class="signup-screen">
                <div class="page-header text-center">
                    <h1>Register</h1>
                </div>
                <br>
                <form class="form-register" method="post" name="register" novalidate>
                    <div class="input-field col s6">
                        <input id="first-name" ng-model="client.firstName" type="text" class="validate" required>
                        <label for="first-name">First name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last-name" ng-model="client.lastName" type="text" class="validate" required>
                        <label for="first-name">Last name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="email" ng-model="client.email" type="email" name="email"
                               class="validate" required>
                        <label for="first-name">email</label>
                    </div>
                    <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is
                        invalid.</p>

                    <div class="input-field col s6">
                        <input id="password" ng-model="client.password" type="password" name="password"
                               ng-minlength='6'
                               class="validate" required>
                        <label for="first-name">Password</label>
                    </div>
                    <p class="alert alert-danger"
                       ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password
                        must be
                        at least 6 characters.</p>

                    <div class="spacer text-center">
                        <button ng-disabled="form-register.$invalid"
                                ng-click="setLoginTrue(); afterLogIn(client)"
                                class="waves-effect waves-light btn">
                            <i class="material-icons left">Done</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>