<div class="container" ng-controller="ReservationCtrl" ng-style="containerStyle">
    <div class="reservationContainer" ng-style="reservationContainerStyle">

        <div class="reservationForm">
            <div ng-style="flightType">
                <input type="button" class="styled-button-8" value="One way Ticket"
                       ng-click="setOneWayFlight()"/>
                <input type="button" class="styled-button-8" value="Return Ticket"
                       ng-click="setReturnFlight()"/>
            </div>
            <form role="form" class="form-horizontal" ng-style="formHorizontalStyle" novalidate>
                <hr>
                <fieldset>
                    <label class="col-sm-{{labelColumnSize}} control-label">Source:</label>

                    <div class="form-group">
                        <div class="col-sm-{{selectColumnSize}}">
                            <select ng-model="flight.source" class="form-control" required
                                    ng-options="source.value as source.name for source in sourceOptions">
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <label class="col-sm-{{labelColumnSize}} control-label">Destination:</label>

                    <div class="form-group">
                        <div class="col-sm-{{selectColumnSize}}">
                            <select ng-model="flight.destination" class="form-control" required
                                    ng-options="destination.value as destination.name for destination in destinationOptions">
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <label class="col-sm-{{labelColumnSize}} control-label">Departure:</label>

                    <div class="form-group">
                        <div class="col-sm-{{selectColumnSize}}">
                            <input class="form-control" datepicker-popup="{{calendar.dateFormat}}"
                                   ng-model="flight.departure" is-open="calendar.opened.departure"
                                   ng-click="calendar.open($event, 'departure')"
                            />
                        </div>
                    </div>
                </fieldset>
                <fieldset ng-if="isReturnFlight">
                    <label class="col-sm-{{labelColumnSize}} control-label">Arrival:</label>

                    <div class="form-group">
                        <div class="col-sm-{{selectColumnSize}}">
                            <input class="form-control" datepicker-popup="{{calendar.dateFormat}}"
                                   ng-model="flight.arrival" is-open="calendar.opened.arrival"
                                   ng-click="calendar.open($event, 'arrival')"
                            />
                        </div>
                    </div>
                </fieldset>
                <hr>
                <fieldset>
                    <label class="col-sm-{{labelColumnSize}} control-label"> < 2 years</label>

                    <div class="form-group">
                        <div class="col-sm-{{selectColumnSize}}">
                            <select class="validate form-control" ng-model="passengers[0]" required
                                    ng-options="option as option for option in passengersOptions">
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <label class="col-sm-{{labelColumnSize}} control-label">2 - 18 years</label>

                    <div class="form-group">
                        <div class="col-sm-{{selectColumnSize}}">
                            <select class="validate form-control" ng-model="passengers[1]" required
                                    ng-options="option as option for option in passengersOptions">
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <label class="col-sm-{{labelColumnSize}} control-label">18 - 60 years</label>

                    <div class="form-group">
                        <div class="col-sm-{{selectColumnSize}}">
                            <select class="validate form-control" ng-model="passengers[2]" required
                                    ng-options="option as option for option in passengersOptions">
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <label class="col-sm-{{labelColumnSize}} control-label">> 60 years</label>

                    <div class="form-group">
                        <div class="col-sm-{{selectColumnSize}}">
                            <select class="validate form-control" ng-model="passengers[3]" required
                                    ng-options="option as option for option in passengersOptions">
                            </select>
                        </div>
                    </div>
                </fieldset>
                <hr>
                <fieldset>
                    <label class="col-sm-{{labelColumnSize}} control-label">Class</label>

                    <div class="form-group">
                        <div class="col-sm-{{selectColumnSize}}">
                            <select class="validate form-control" ng-model="flightClass[0].value" required
                                    ng-options="class.value as class.value for class in flightClass">
                            </select>
                        </div>
                    </div>
                </fieldset>
                <input type="submit" ng-style="reservationSubmit" class="styled-button-8" value="Submit"
                       ng-disabled="form-horizontal.$invalid"
                       ng-click="getFlights(flight.source,flight.destination,flight.arrival,flight.departure)"
                />
            </form>
        </div>
        <div class="reservationResult">
            <div class="reservationResultTitle" ng-if="controllerName == 'ReservationCtrl' && flights.length > 0">
                <p>Znalezione loty &nbsp;{{flight.source}} --> {{flight.destination}}</p>
            </div>
            <div class="reservationResultFlightList" ng-style="reservationResultFlightListStyle">
                <flights-table></flights-table>
            </div>
        </div>
    </div>
</div>
