<div class="container" ng-controller="ReservationCtrl">
    <h3>Return ticket</h3>

    <form role="form" class="form-horizontal">
        <hr>
        <fieldset>
            <label class="col-sm-3 control-label">Source:</label>

            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control">
                        <option value="0">Kraków</option>
                        <option value="1">Warszawa</option>
                        <option value="2">Poznań</option>
                        <option value="3">Gdańsk</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <label class="col-sm-3 control-label">Destination:</label>

            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" required="required">
                        <option value="0">Oslo</option>
                        <option value="1">Londyn</option>
                        <option value="2">Paryż</option>
                        <option value="3">Berlin</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <label class="col-sm-3 control-label">Departure:</label>

            <div class="form-group">
                <div class="col-sm-3">
                    <input ng-model="departureDate" type="text" value=""
                           class="form-control" datepicker-popup="dd-MM-yyyy" datepickerOptions="dateOptions"
                           is-open="false" ng-click="data.isOpen = true" data-ng-required="true">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <hr align="center">
            <label class="col-sm-3 control-label">Arrival:</label>

            <div class="form-group">
                <div class="col-sm-3">
                    <input ng-model="arrivalDate" type="text"
                           class="form-control" datepicker-popup="dd-MM-yyyy"
                           is-open="false" ng-click="data.isOpen = true">
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset>
            <label class="col-sm-3 control-label">< 2 years</label>

            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" required="required">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <label class="col-sm-3 control-label">2 - 18 years</label>

            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" required="required">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <label class="col-sm-3 control-label">18 - 60 years</label>

            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" required="required">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <label class="col-sm-3 control-label">> 60 years</label>

            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" required="required">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <hr >
        <fieldset>
            <label class="col-sm-3 control-label">Class</label>

            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" required="required">
                        <option value="0">Economy class</option>
                        <option value="1">Premium Class</option>
                        <option value="2">Business</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <input type="submit" class="styled-button-8" value="Submit"/>
    </form>

</div>