<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- Display -->
    <display-name>AIRLINES</display-name>
    <description>
        Airline reservation system
    </description>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>
    <context-param>
        <param-name>db.tcpServer</param-name>
        <param-value>-tcpAllowOthers</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>airlines.configuration.MainConfiguration</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <!-- Jersey Jax-RS suport -->
    <servlet>
        <servlet-name>jersey-spring-servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <!-- Register rest packages to auto-scan for rest services-->
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>airlines.rest</param-value>
        </init-param>
        <!-- Register JAX-RS Application -->
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>airlines.rest.RestApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- servlet mappings -->
    <servlet-mapping>
        <servlet-name>jersey-spring-servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/web/*</url-pattern>
    </servlet-mapping>
</web-app>


